<!DOCTYPE html>
<html>
    <body style="background-color:rgb(246, 231, 248); font-size: 18px"></body>
<head>
	<title>Blind Solver</title>
</head>

<body>

<label for="states">Choose whether you want the edges, corners, or whole cube to be solved:</label>
<select name="states" id="states">
  <option value="both">Both</option>
  <option value="edges">Edges</option>
  <option value="corners">Corners</option>
</select>
<label for="scramble">Input own scramble, will be random if not:</label>
<input type="text" id="scramble" value=""><br><br>

<button type="button" onclick="solve()">Solve</button>

<hr>

<pre id="output"></pre>

<script>
function solve() {
    const mode = document.getElementById("states").value;
    const outputElement = document.getElementById("output");
    const scramble = document.getElementById("scramble").value
    outputElement.innerText = "Solving...";

    fetch("/solve", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ mode: mode, scramble: scramble})
    })
    .then(res => res.json())
    .then(data => {
        outputElement.innerHTML = data.result;
    })
    .catch(err => {
        outputElement.innerHTML = "Error: " + err;
    });
}
</script>
</body>
</html>